aws_access_key = "XXX"
aws_secret_key = "XXX"
x_api_key = "XXX"
x_via_cloudfront_key = "XXX"
todo_app_database_url = "XXX"
todo_app_rails_master_key = "XXX"
docker_dir = "XXX"
my_domain = "XXX"
rds_master_username = "XXX"
rds_master_password = "XXX"
ec2_keypair = "XXX"
